$primary-color: hsl(14, 86%, 42%);
$text-color-1: hsl(14, 65%, 9%);
$text-color-2: hsl(7, 20%, 60%);

@font-face {
    font-family: "Red Hat Text";
    src: url("../../assets/fonts/RedHatText-VariableFont_wght.ttf"),
    format("truetype");
}

body {
    font-family: "Red Hat Text", sans-serif;
}

body {
    color: $primary-color;
}

.product-category {
    font-size: 14px;
    font-weight: 600;
    color: texto-color-2;
}

.product-name {
    font-weight: 400;
    color: $text-color-1;
}

.product-price {
    color: $primary-color;
    font-weight: 700;

}



